@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'Unicode Pro Bold';
    src: url('./fonts/Type\ Juice\ -\ Unison\ Pro\ Bold\ Round.otf');
}

@font-face {
    font-family: 'Unicode Pro Light';
    src: url('./fonts/Type\ Juice\ -\ Unison\ Pro\ Light\ Round.otf');
}


* {
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1 {
    margin-top: 0;
    font-family: 'Unicode Pro Bold';
    font-size: 70px;
    color: white;
    max-width: 893px;
    text-align: center;
    padding-top: 160px;
    display: inline-block;
  }

body {
    margin: 0;
}



nav {
    z-index: 100;
    background-color: #090909;
    height: 92px;
    border-bottom: 1px #413F3F solid;
    display: flex;
    align-items: center;
}

nav img {
    max-width: 200px;
    display: inline-flex;
    margin-left: 120px;

}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    display: inline-flex;
    margin-right: 120px;
}

nav li {
    display: inline-flex;
    color: white;
    margin: 0px 18px;
    justify-self: right;
    padding: 6px;
}

nav li:hover {
    -webkit-animation: glow 5s ease-in-out infinite alternate;
    -moz-animation: glow 5s ease-in-out infinite alternate;
    animation: glow 5s ease-in-out infinite alternate;
    color: white;
    cursor: pointer;
}

@-webkit-keyframes glow {
    7% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0049e6, 0 0 20px #00b0e6, 0 0 25px #00e6d3, 0 0 30px #0068e6, 0 0 30px #00cbe6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #4ddbff, 0 0 20px #4db8ff, 0 0 25px #4d8bff, 0 0 30px #4dedff, 0 0 35px #4d6bff, 0 0 40px #4dc4ff;
    }
  }

.hero {
    background-image: url('./images/herobg.jpg');
    background-size: auto;
    max-height: 900px;
    min-height: 600px;
    width: 100%;
    background-position: top;
    margin: 0 auto;
    display: block;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
}


.quote {
    font-family: 'Satoshi';
    font-size: 26px;
    text-align: center;
    font-weight: lighter;
    color: white;
    max-width: 953px;
    display: inline-block;
}

  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

  .about-me {
    background-color: black;
    color: white;
    display: flex;
    min-height: 550px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .about-me h2 {
    font-family: 'Unicode Pro Bold';
    font-size: 32;
    padding-left: 130px;
  }

  .about-me p {
    max-width: 585px;
    padding-left: 130px;
  }

  .about-me img {
    max-width: 345px;
    max-height: 345px;
    margin-left: auto;
    padding-right: 130px;
  }

  @media screen and (max-width: 767px) {
    .about-me p {
      padding-left: 31.682vw;
    }

    h1 {
      font-size: 8vw;
    }

    .quote {
      font-size: 3.390vw;
    }

    nav ul {
      display: none;
    }

    nav img {
      padding: none;
      margin: none;
    }
  }
